schema/textbook_schema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = textbook
    textbook = element textbook {section*, chapter*}
        section = element section {mixed{chapter}}
            chapter = element chapter {title, p*}
                title = element title {text}
                p = element p {mixed{(person | people | place | political_affiliation | religion | territory | event)*}}
                territory = element territory {territory_type, text}
                    territory_type = attribute type {"kingdom" | "country" | "region" }
                place = element place {place_type, text}
                    place_type = attribute type {"building" | "street" | "city" | "river"}
                person = element person {person_type, text}
                    person_type= attribute type {"tsar"|"foreign_leader"|"musician"}
                people = element people {people_type, text}
                    people_type= attribute type {"ethnicity" | "class" | "job"}
                political_affiliation = element political_affiliation {text}
                religion = element religion {religion_type, text}
                    religion_type = attribute type {"orthodox" | "muslim" | "jewish" | "pagan" | "athiest"}
                event = element event {event_type, text}
	               event_type = attribute type {"major" | "minor"}

